@import "../../common/mixin";

.event-0305 {
    width: 970px;
    @include tb {
        width: $tb-width;
    }
    @include sp {
        width: 100%;
    }

    .schedule--0305 {
        margin-left: -20px;
        margin-right: -20px;
        @include sp {
            margin-left: -5px;
            margin-right: -5px;
        }
    }
    .schedule__container {
        width: 50%;
        float: left;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
        @include sp {
            padding-left: 5px;
            padding-right: 5px;
        }

        .grid__item {
            width: 33.3333%;
            @include tb {
                width: 50%;
            }
            @include sp {
                width: 100%;
            }
        }
    }
}