<%
var conf = {
    title : ' | 小学館サブラネットガールズ初撮影会',
    js: ['reserve'],
    css: ['reserve', 'event', '0305'],
    anchorLink: '/'
};
%>

<% include ../../common/_head %>
<% include ../../components/header/_header %>
<% include ../../components/header_sp/_header_sp %>

<div class="event event-0305 content txt-center">
    <div class="content__frame">
        <div class="content__block">
            <h1 class="large bold">小学館サブラネットガールズ初撮影会</h1>
            <h2 class="default mt10">～あなたのベストショットをsabranetスペシャル写真集の１枚に～</h2>
        </div>
        <div class="content__block txt-center">
            <p class="default">
                2015年12月よりお送りしている、10名のタレントが力を合わせて<br>
                小学館sabraネットよりオムニバス電子写真集を発売する企画の第5期！
            </p>
            <p class="default mt30">
                企画至上初の撮影会を開催致します。
            </p>
            <p class="default mt30">
                なんと今回、<br>
                撮影会に参加されたお客様が撮影するフォトより１名様１枚、<br>
                このオムニバス電子写真集に収容する特典付き！
            </p>
            <p class="default mt30">
                沢山のご参加お待ちしております！
            </p>
        </div>
    </div>

    <div class="content__frame">
        <div class="schedule--0305 clearfix mt30">
            <div class="schedule__container">
                <div class="schedule__item">
                    <h3 class="middle bold">
                        3月5日（土）タイムスケジュール
                    </h3>
                    <div class="grid clearfix">
                        <div class="grid__item">
                            <img src="../../assets/images/event/20160305-6/1.png">
                            <p class="default bold">
                                <a href="https://twitter.com/OkaEri_0424" target="_blank" class="underline">
                                    岡 英里
                                </a>
                            </p>
                        </div>

                        <div class="grid__item">
                            <img src="../../assets/images/event/20160305-6/2.png">
                            <p class="default bold">
                                <a href="https://twitter.com/CHiIchaN_0123" target="_blank" class="underline">
                                    後藤 ちひろ
                                </a>
                            </p>
                        </div>

                        <div class="grid__item">
                            <img src="../../assets/images/event/20160305-6/3.png">
                            <p class="default bold">
                                <a href="https://twitter.com/miyaharu8" target="_blank" class="underline">
                                    宮田 晴香
                                </a>
                            </p>
                        </div>

                        <div class="grid__item">
                            <img src="../../assets/images/event/20160305-6/4.png">
                            <p class="default bold">
                                <a href="https://twitter.com/koi_kamishima" target="_blank" class="underline">
                                    神島 こい
                                </a>
                            </p>
                        </div>

                        <div class="grid__item">
                            <img src="../../assets/images/event/20160305-6/5.png">
                            <p class="default bold">
                                <a href="https://twitter.com/whysoserious796" target="_blank" class="underline">
                                    福森つかさ
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="schedule__item txt-left">
                    <p class="default">出演者:</p>
                    <p class="default">
                        岡英里 / 後藤ちひろ / <br>
                        宮田晴香 / 神島こい / 福森つかさ
                    </p>
                    <p class="default mt20">各部4,000円</p>
                    <p class="default">7部すべて通し 20,000円（8,000円割引）</p>
                </div>

                <div class="schedule__item txt-left">
                    <p class="default">
                        第1部 : 10:30〜11:00
                        <span class="sp-newline">定員20名</span>
                    </p>
                    <p class="default">15分休憩</p>
                    <p class="small">（※合間に2shot or 通常チェキ撮影が1,000円で可能）</p>
                    <p class="default"><span class="sp-newline">出演者：</span>岡英里 / 後藤ちひろ / 宮田晴香</p>
                </div>

                <div class="schedule__item txt-left">
                    <p class="default">
                        第2部 : 11:15〜11:45
                        <span class="sp-newline">定員20名</span>
                    </p>
                    <p class="default">15分休憩</p>
                    <p class="small">（※合間に2shot or 通常チェキ撮影が1,000円で可能）</p>
                    <p class="default"><span class="sp-newline">出演者：</span>宮田晴香 / 神島こい / 福森つかさ</p>
                </div>

                <div class="schedule__item txt-left">
                    <p class="default">
                        第3部 : 12:00〜12:30
                        <span class="sp-newline">定員20名</span>
                    </p>
                    <p class="default">15分休憩</p>
                    <p class="small">（※合間に2shot or 通常チェキ撮影が1,000円で可能）</p>
                    <p class="default"><span class="sp-newline">出演者：</span>岡英里 / 後藤ちひろ / 神島こい</p>
                </div>

                <div class="schedule__item txt-left">
                    <p class="default">
                        第4部 : 12:45〜13:15
                        <span class="sp-newline">定員20名</span>
                    </p>
                    <p class="default">15分休憩</p>
                    <p class="small">（※合間に2shot or 通常チェキ撮影が1,000円で可能）</p>
                    <p class="default"><span class="sp-newline">出演者：</span>岡英里 / 宮田晴香 / 福森つかさ</p>
                </div>

                <div class="schedule__item txt-left">
                    <p class="default">
                        第5部 : 13:30〜14:00
                        <span class="sp-newline">定員20名</span>
                    </p>
                    <p class="default">15分休憩</p>
                    <p class="small">（※合間に2shot or 通常チェキ撮影が1,000円で可能）</p>
                    <p class="default"><span class="sp-newline">出演者：</span>後藤ちひろ / 福森つかさ / 神島こい</p>
                </div>

                <div class="schedule__item txt-left">
                    <p class="default">
                        第6部 : 14:15〜14:45
                        <span class="sp-newline">定員20名</span>
                    </p>
                    <p class="default">15分休憩</p>
                    <p class="small">（※合間に2shot or 通常チェキ撮影が1,000円で可能）</p>
                    <p class="default"><span class="sp-newline">出演者：</span>岡英里 / 後藤ちひろ / 宮田晴香</p>
                </div>

                <div class="schedule__item txt-left">
                    <p class="default">
                        第7部 : 15:00〜15:30
                        <span class="sp-newline">定員20名</span>
                    </p>
                    <p class="default">15分休憩</p>
                    <p class="small">（※合間に2shot or 通常チェキ撮影が1,000円で可能）</p>
                    <p class="default"><span class="sp-newline">出演者：</span>福森つかさ / 神島こい</p>
                </div>

                <div class="schedule__item txt-left">
                    <p class="default">
                        チェキサイン会: <span class="sp-newline">15:40〜16:00</span>
                    </p>
                </div>
            </div>

            <div class="schedule__container">
                <div class="schedule__item">
                    <h3 class="middle bold">
                        3月6日（日）タイムスケジュール
                    </h3>
                    <div class="grid clearfix">
                        <div class="grid__item">
                            <img src="../../assets/images/event/20160305-6/6.png">
                            <p class="default bold">
                                <a href="https://twitter.com/osakanyanko" target="_blank" class="underline">
                                    なるせ るな
                                </a>
                            </p>
                        </div>

                        <div class="grid__item">
                            <img src="../../assets/images/event/20160305-6/7.png">
                            <p class="default bold">
                                <a href="https://twitter.com/miyaharu8" target="_blank" class="underline">
                                    加納 莉奈
                                </a>
                            </p>
                        </div>

                        <div class="grid__item">
                            <img src="../../assets/images/event/20160305-6/8.png">
                            <p class="default bold">
                                <a href="https://twitter.com/nanau3u519" target="_blank" class="underline">
                                    菜々花
                                </a>
                            </p>
                        </div>

                        <div class="grid__item">
                            <img src="../../assets/images/event/20160305-6/9.png">
                            <p class="default bold">
                                <a href="https://twitter.com/aoimarin0912" target="_blank" class="underline">
                                    青井 まりん
                                </a>
                            </p>
                        </div>

                        <div class="grid__item">
                            <img src="../../assets/images/event/20160305-6/10.png">
                            <p class="default bold">
                                <a href="https://twitter.com/haru_ka0528" target="_blank" class="underline">
                                    逢川 はるか
                                </a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="schedule__item txt-left">
                    <p class="default">出演者:</p>
                    <p class="default">
                        なるせるな / 加納莉奈 / <br>
                        菜々花 / 青井まりん / 逢川はるか
                    </p>
                    <p class="default mt20">各部4,000円</p>
                    <p class="default">7部すべて通し 20,000円（8,000円割引）</p>
                </div>

                <div class="schedule__item txt-left">
                    <p class="default">
                        第1部 : 10:30〜11:00
                        <span class="sp-newline">定員20名</span>
                    </p>
                    <p class="default">15分休憩</p>
                    <p class="small">（※合間に2shot or 通常チェキ撮影が1,000円で可能）</p>
                    <p class="default"><span class="sp-newline">出演者：</span>なるせるな / 加納莉奈 / 菜々花</p>
                </div>

                <div class="schedule__item txt-left">
                    <p class="default">
                        第2部 : 11:15〜11:45
                        <span class="sp-newline">定員20名</span>
                    </p>
                    <p class="default">15分休憩</p>
                    <p class="small">（※合間に2shot or 通常チェキ撮影が1,000円で可能）</p>
                    <p class="default"><span class="sp-newline">出演者：</span>加納莉奈 / 青井まりん / 逢川はるか</p>
                </div>

                <div class="schedule__item txt-left">
                    <p class="default">
                        第3部 : 12:00〜12:30
                        <span class="sp-newline">定員20名</span>
                    </p>
                    <p class="default">15分休憩</p>
                    <p class="small">（※合間に2shot or 通常チェキ撮影が1,000円で可能）</p>
                    <p class="default"><span class="sp-newline">出演者：</span>なるせるな / 菜々花 / 青井まりん</p>
                </div>

                <div class="schedule__item txt-left">
                    <p class="default">
                        第4部 : 12:45〜13:15
                        <span class="sp-newline">定員20名</span>
                    </p>
                    <p class="default">15分休憩</p>
                    <p class="small">（※合間に2shot or 通常チェキ撮影が1,000円で可能）</p>
                    <p class="default"><span class="sp-newline">出演者：</span>なるせるな / 加納莉奈 / 逢川はるか</p>
                </div>

                <div class="schedule__item txt-left">
                    <p class="default">
                        第5部 : 13:30〜14:00
                        <span class="sp-newline">定員20名</span>
                    </p>
                    <p class="default">15分休憩</p>
                    <p class="small">（※合間に2shot or 通常チェキ撮影が1,000円で可能）</p>
                    <p class="default"><span class="sp-newline">出演者：</span>菜々花 / 逢川はるか / 青井まりん</p>
                </div>

                <div class="schedule__item txt-left">
                    <p class="default">
                        第6部 : 14:15〜14:45
                        <span class="sp-newline">定員20名</span>
                    </p>
                    <p class="default">15分休憩</p>
                    <p class="small">（※合間に2shot or 通常チェキ撮影が1,000円で可能）</p>
                    <p class="default"><span class="sp-newline">出演者：</span>なるせるな / 菜々花 / 加納莉奈</p>
                </div>

                <div class="schedule__item txt-left">
                    <p class="default">
                        第7部 : 15:00〜15:30
                        <span class="sp-newline">定員20名</span>
                    </p>
                    <p class="default">15分休憩</p>
                    <p class="small">（※合間に2shot or 通常チェキ撮影が1,000円で可能）</p>
                    <p class="default"><span class="sp-newline">出演者：</span>逢川はるか / 青井まりん</p>
                </div>

                <div class="schedule__item txt-left">
                    <p class="default">
                        チェキサイン会: <span class="sp-newline">15:40〜16:00</span>
                    </p>
                </div>
            </div>
        </div>

    </div>

    <div class="content__frame mt50 txt-left">
        <p class="default">
            ★ご参加者特典：電子写真集掲載希望写真について
            当日撮影して頂きました写真を3月9日（水）20:00までに
            info@studiohalfstar.comまで送付して下さい。
        </p>

        <p class="default mt30">
            以下の必要事項を必ずご記入の上ご連絡下さい。
        </p>

        <p class="default mt30">
            必要事項<br>
            ①撮影会参加時に記入したお名前・メールアドレスまたはTwitterアカウント：<br>
            ②ニックネーム：<br>
            ③推しのタレント名：<br>
        </p>

        <p class="default mt30">
            頂いたお写真を小学館sabra編集部、所属事務所が写真監修の上
            電子写真集追加写真を決定させて頂きます。
        </p>

        <p class="default mt30">
            ご注意<br>
            <span class="small">
            ※データサイズが大きいもの方が採用されやすいです。<br>
            ※クオリティ的に採用できない場合も御座いますので予めご了承下さいませ。写真の採用・不採用のご連絡、その他写真に関するやりとりは行いませんので　送付時点で良く確認の上送付して下さい。
            </span>
        </p>

        <p class="default mt30">
            撮影会注意事項<br>
            <span class="small">
            ※チェキへのサイン入れはチェキサイン会にて承ります。チェキご購入の方のみの参加です。
            ※当日、撮影会の規約にご同意して頂いた上でご参加頂きます。
            </span>
        </p>






    </div>
</div>

<div id="reserve" class="content txt-center">
    <div class="content__frame">
        <h1 class="content__block">
            <img src="../../assets/images/reserve/reserve_text.png" alt="Reserve">
        </h1>
        <h2 class="content__block">
            ご予約はこちら
        </h2>

        <div>
            <form id="input" class="form"
                  _nocontact="1" _type="event" _bcc="innetwork"
                  _title="小学館サブラネットガールズ初撮影会">
                <div class="form-group">
                    <label>お名前&nbsp;<em id="err-name">お名前が入力されていません</em></label>
                    <div>
                        <input id="name" class="form-control" type="text">
                    </div>
                </div>

                <div class="form-group">
                    <label>電話番号&nbsp;<em id="err-tel">電話番号が正しくありません</em></label>
                    <div>
                        <input id="tel" class="form-control" type="text">
                    </div>
                </div>

                <div class="form-group">
                    <label>メールアドレス&nbsp;<em id="err-email">メールアドレスが正しくありません</em></label>
                    <div>
                        <input id="email" class="form-control" type="text">
                    </div>
                </div>

                <div class="form-group">
                    <label>参加希望日時 - 部・押しのタレント&nbsp;<em id="err-contact">内容が入力されていません</em></label>
                    <div>
                        <textarea id="contact" class="form-control" rows="5"></textarea>
                    </div>
                </div>

                <div class="form-group txt-center">
                    <button id="bt-confirm" class="form-control btThumb">内容を確認</button>
                </div>

            </form>

            <div id="confirm" class="form">
                <div class="form-group">
                    <label>お名前</label>
                    <div>
                        <p id="confirm-name"></p>
                    </div>
                </div>

                <div class="form-group">
                    <label>電話番号</label>
                    <div>
                        <p id="confirm-tel"></p>
                    </div>
                </div>

                <div class="form-group">
                    <label>メールアドレス</label>
                    <div>
                        <p id="confirm-email"></p>
                    </div>
                </div>

                <div class="form-group">
                    <label>参加希望日時 - 部・押しのタレント </label>
                    <div>
                        <p id="confirm-contact"></p>
                    </div>
                </div>

                <div class="form-group txt-center">
                    <button id="bt-return" class="form-control btThumb">戻る</button>
                    <button id="bt-send" class="form-control btThumb">送信する</button>
                </div>
            </div>

            <div id="complete" class="form">
                <div class="content__sentence form-group txt-center">
                    <p>
                        お申し込み頂きありがとうございます。<br>
                        スタジオ担当者より追ってご連絡いたします。
                    </p>
                </div>

                <div class="form-group txt-center">
                    <button id="bt-top" class="form-control btThumb">TOPへ戻る</button>
                </div>
            </div>
        </div>

    </div>
</div>

<% include ../../components/footer/_footer %>
<% include ../../common/_foot %>