<div id="popup">
  <div id="popup-background"></div>

  <div id="popup-content">
    <img id="popup-img">
  </div>

  <div id="popup-bts">
    <a class="btThumb" id="popup-prev">
      <img src="../../assets/images/popup/white_btn1.png">
    </a>
    <a class="btThumb" id="popup-next">
      <img src="../../assets/images/popup/white_btn2.png">
    </a>
    <a class="btThumb" id="popup-close">
      <img src="../../assets/images/popup/white_btn3.png">
    </a>
  </div>
</div>