@import "../../common/mixin";

#popup {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 99999;
  opacity: 0;

  #popup-background {
    position: absolute;
    background: #ffffff;
    width: 100%;
    height: 100%;
  }

  #popup-content {
    position: relative;
    width: 800px;
    height: 450px;
    margin: auto;

    img {
      position: absolute;
      width: 100%;
    }

    @include tb {
      width: 700px;
      height: 350px;
    }
    @include sp {
      width: 300px;
      height: 150px;
    }
  }
  #popup-bts {
    position: relative;
    width: 800px;
    margin: 10px auto;
    text-align: right;

    a {
      margin-left: 5px;
      cursor: pointer;
    }

    @include tb {
      width: 700px;
      margin: 30px auto;
    }
    @include sp {
      width: 300px;
      margin: 30px auto;
    }
  }

  @include tb {
    #popup-next, #popup-prev {
      display: none;
    }
  }
  @include sp {
    #popup-next, #popup-prev {
      display: none;
    }
  }
}