@import "../../common/mixin";

/** header **/
.header {
  width: 100%;
  min-width: 900px;
  background-color: #ffffff;

  .header__container {
    padding: 20px 30px 30px;
  }
  .header__menu {
    > li {
      float: left;
      margin: 12px 0 0 30px;
    }
  }
  .header__social {
    margin-left: 15px;

    > li {
      float: left;
      margin: 10px 0 0 15px;
    }
  }

  @include tb {
    display: none;
  }
  @include sp {
    display: none;
  }
}
.header__dummy {
  @include tb {
    display: none;
  }
  @include sp {
    display: none;
  }
}