<header class="header">
  <div class="header__container clearfix">
    <div class="pull-left">
      <a href="/"
         class="btMenu sprite sprite--logo"></a>
    </div>

    <div class="pull-right">
      <ul class="header__menu pull-left">
        <li>
          <a href="/"
             class="btMenu sprite sprite--home"></a>
        </li>
        <li>
          <a href="<%= conf.anchorLink%>#studio-photo"
             class="btMenu sprite sprite--photo"></a>
        </li>
        <li>
          <a href="<%= conf.anchorLink%>#studio-guide"
             class="btMenu sprite sprite--guide"></a>
        </li>
        <li>
          <a href="<%= conf.anchorLink%>#price"
             class="btMenu sprite sprite--price"></a>
        </li>
        <li>
          <a href="<%= conf.anchorLink%>#map"
             class="btMenu sprite sprite--map"></a>
        </li>
        <li>
          <a href="/reserve"
             class="btMenu sprite sprite--reserve"></a>
        </li>
      </ul>

      <ul class="header__social pull-left">
        <li>
          <a href="https://instagram.com/half_star0824/" target="_blank"
             class="btSns sprite sprite--instagram"></a>
        </li>
        <li>
          <a href="https://www.facebook.com/pages/HalfStar/874637555906872?sk=timeline" target="_blank"
             class="btSns sprite sprite--facebook"></a>
        </li>
        <li>
          <a href="https://twitter.com/halfstar_tokyo" target="_blank"
             class="btSns sprite sprite--twitter"></a>
        </li>
      </ul>

    </div>
  </div>

</header>