.footer {
  max-width: 970px;
  margin: 0 auto;
  padding: 68px 28px;

  .footer__left {
    float: left;
  }
  .footer__right {
    float: right;
  }

  .footer__menu {
    text-align: left;
    margin-right: 56px;

    > li {
      margin-bottom: 26px;
    }
  }

  .footer__social {
    margin-top: 3px;
    text-align: right;

    > li {
      float: right;
      margin-top: 20px;
      margin-left: 16px;
    }
  }

  .footer__copy-right {
    margin-top: 70px;
    font-size: 12px;
    letter-spacing: 1px;
    text-align: right;
  }

  @include sp {
    .footer__menu,
    .footer__foot-logo,
    .footer__social {
      display: none;
    }

    .pull-right {
      float: none;
    }
    .footer__copy-right {
      margin: 0;
      text-align: center;
    }
  }
}