<footer class="clearfix footer">
  <ul class="pull-left footer__menu">
    <li>
      <a href="/"
         class="btMenu sprite sprite--home"></a>
    </li>
    <li>
      <a href="<%=conf.anchorLink%>#studio-photo"
         class="btMenu sprite sprite--photo"></a>
    </li>
    <li>
      <a href="<%=conf.anchorLink%>#studio-guide"
         class="btMenu sprite sprite--guide"></a>
    </li>
    <li>
      <a href="<%=conf.anchorLink%>#price"
         class="btMenu sprite sprite--price"></a>
    </li>
    <li>
      <a href="<%=conf.anchorLink%>#map"
         class="btMenu sprite sprite--map"></a>
    </li>
  </ul>

  <ul class="pull-left footer__menu">
    <li>
      <a href="/reserve"
         class="btMenu sprite sprite--reserve"></a>
    </li>
    <li>
      <a href="/terms"
         class="btMenu sprite sprite--terms"></a>
    </li>
  </ul>


  <div class="pull-right">
    <div class="footer__foot-logo">
      <a href="#"
         class="btMenu sprite sprite--foot-logo"></a>
    </div>

    <ul class="clearfix footer__social">
      <li>
        <a href="https://twitter.com/halfstar_tokyo" target="_blank"
           class="btSns sprite sprite--twitter"></a>
      </li>
      <li>
        <a href="https://www.facebook.com/pages/HalfStar/874637555906872?sk=timeline" target="_blank"
           class="btSns sprite sprite--facebook"></a>
      </li>
      <li>
        <a href="https://instagram.com/half_star0824/" target="_blank"
           class="btSns sprite sprite--instagram"></a>
      </li>
    </ul>

    <div class="footer__copy-right">
      <h4>© STUDIO HALF STAR INC</h4>
    </div>

  </div>

</footer>