<!doctype html>

<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1">
    <meta name="description" content="私たちは、スタジオを使う方の作品に少しでもお手伝いをできたらという思いからこのスタジオを作りました。一番星のようにキラキラ輝く作品を是非このスタジオで作ってください。">
    <meta name="keywords" content="東京,撮影スタジオ,キッチンスタジオ,スタジオハーフスター,studiohalfstar">

    <meta property="og:title" content="Studio Half Star（スタジオハーフスター） <%= conf.title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://studiohalfstar.com" />
    <meta property="og:site_name" content="Studio Half Star" />
    <meta property="og:image" content="http://studiohalfstar.com/assets/images/fb.png" />
    <meta property="og:description" content="私たちは、スタジオを使う方の作品に少しでもお手伝いをできたらという思いからこのスタジオを作りました。一番星のようにキラキラ輝く作品を是非このスタジオで作ってください。" />

    <meta name="google-site-verification" content="tmfOsO8w2lgGYr_xl_noLAITjnrozY-oHpdMMu8f0Og" />

    <title>Studio Half Star（スタジオハーフスター） <%= conf.title %></title>

    <%
    var
        i = 0,
        l = filename.split(viewDir + '/')[1].split('/').length;

    conf.rel = '';
    for(i; i<l; i++) {
        conf.rel = '../' + conf.rel;
    }
    conf.name = filename.split('/')[filename.split('/').length - 1].replace('.ejs','');

    if (!conf.js) { conf.js = conf.name; }
    if (!conf.css) { conf.css = conf.name; }
    if (typeof conf.js === 'string') { conf.js = [conf.js]; }
    if (typeof conf.css === 'string') { conf.css = [conf.css]; }
    %>

    <!-- build:js /js/_ie.js -->
    <!--[if lt IE 9]>
  <script src="<%= conf.rel %>lib/ie/console-polyfill.js"></script>
  <script src="<%= conf.rel %>lib/ie/css3-mediaqueries.js"></script>
  <script src="<%= conf.rel %>lib/ie/es5-sham.min.js"></script>
  <script src="<%= conf.rel %>lib/ie/es5-shim.min.js"></script>
  <script src="<%= conf.rel %>lib/ie/html5shiv.min.js"></script>
  <![endif]-->
    <!-- endbuild -->

    <% for(var i=0; i<conf.css.length; i++){ %>
    <link rel="stylesheet" href="/css/<%= conf.css[i] %>.css">
    <% } %>

</head>
<body>