$pc-width: 1024px;
$tb-width: 768px;

@mixin pc {
  @media screen and (min-width: #{$pc-width}) {
    @content;
  }
}
@mixin tb {
  @media screen and (min-width: #{$tb-width}) and (max-width: #{$pc-width - 1px}) {
    @content;
  }
}
@mixin sp {
  @media screen and (max-width: #{$tb-width - 1px}) {
    @content;
  }
}
@mixin background($url) {
  background: url($url);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}