@import "reset";
@import "utils";
@import "sprite";
@import "mixin";

body {
  font-family: "メイリオ","ヒラギノ角ゴ Pro W3","MS PGothic","MS UI Gothic",Helvetica,Arial,sans-serif;
}

.content {
  .content__visual {
    width: 100%;
  }
  .content__frame {
    padding: 150px 0;

    @include tb {
      padding: 100px 0;
    }
    @include sp {
      padding: 50px;
    }
  }
  .content__block {
    display: block;
    padding: 20px;
    margin: 0;
    letter-spacing: 2px;

    @include sp {
      width: 100%;
      padding: 10px 0;
    }
  }
  .content__sentence {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2px;


    @include sp {
      font-size: 12px;
      line-height: 22px;
      letter-spacing: 0px;
    }
  }
  .content__table {
    text-align: left;
    margin: 50px auto;

    table {
      width: 100%;
      border-bottom: 1px solid #e5e5e5;
      tr {
        border-top: 1px solid #e5e5e5;
      }
      tr > td {
        vertical-align: top;
        padding: 35px 30px;

        @include sp {
          padding: 20px 5px;
        }
      }
      dl > dt {
        font-size: 1.1em;
        margin-bottom: 7px;
      }
      dl > dd {
        color: #555555;
      }
    }
    .content__table__icon {
      width: 21%;
      text-align: center;

      @include sp {
        display: none;
      }
    }
  }
}

.sprite {
  display: inline-block;
}

.sprite--logo {
  @include sprite($sprite-gnavi-logo);
}
.sprite--foot-logo {
  @include sprite($sprite-foot-logo);
}

.sprite--home {
  @include sprite($sprite-gnavi-home);
}
.sprite--photo {
  @include sprite($sprite-gnavi-studiophoto);
}
.sprite--guide {
  @include sprite($sprite-gnavi-studioguide);
}
.sprite--price {
  @include sprite($sprite-gnavi-price);
}
.sprite--map {
  @include sprite($sprite-gnavi-map);
}
.sprite--reserve {
  @include sprite($sprite-gnavi-reserve);
}
.sprite--terms {
  @include sprite($sprite-gnavi-terms);
}

.sprite--instagram {
  @include sprite($sprite-gnavi-instagram);
}
.sprite--facebook {
  @include sprite($sprite-gnavi-facebook);
}
.sprite--twitter {
  @include sprite($sprite-gnavi-twitter);
}

.sprite--gototop {
  @include sprite($sprite-gototop);
}

.sprite--star-on {
  @include sprite($sprite-studioguide-star-on);
}

.sprite--price-icon1 {
  @include sprite($sprite-price-icon1);
}
.sprite--price-icon2 {
  @include sprite($sprite-price-icon2);
}
.sprite--price-icon3 {
  @include sprite($sprite-price-icon3);
}
.sprite--price-icon4 {
  @include sprite($sprite-price-icon4);
}
.sprite--map-icon1 {
  @include sprite($sprite-map-icon1);
}
.sprite--map-icon2 {
  @include sprite($sprite-map-icon2);
}