/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sprite-foot-logo-name: 'sprite-foot_logo';
$sprite-foot-logo-x: 0px;
$sprite-foot-logo-y: 0px;
$sprite-foot-logo-offset-x: 0px;
$sprite-foot-logo-offset-y: 0px;
$sprite-foot-logo-width: 188px;
$sprite-foot-logo-height: 54px;
$sprite-foot-logo-total-width: 241px;
$sprite-foot-logo-total-height: 234px;
$sprite-foot-logo-image: '/assets/images/_sprite.png';
$sprite-foot-logo: (0px, 0px, 0px, 0px, 188px, 54px, 241px, 234px, '/assets/images/_sprite.png', 'sprite-foot_logo', );
$sprite-gnavi-facebook-name: 'sprite-gnavi_facebook';
$sprite-gnavi-facebook-x: 127px;
$sprite-gnavi-facebook-y: 119px;
$sprite-gnavi-facebook-offset-x: -127px;
$sprite-gnavi-facebook-offset-y: -119px;
$sprite-gnavi-facebook-width: 25px;
$sprite-gnavi-facebook-height: 24px;
$sprite-gnavi-facebook-total-width: 241px;
$sprite-gnavi-facebook-total-height: 234px;
$sprite-gnavi-facebook-image: '/assets/images/_sprite.png';
$sprite-gnavi-facebook: (127px, 119px, -127px, -119px, 25px, 24px, 241px, 234px, '/assets/images/_sprite.png', 'sprite-gnavi_facebook', );
$sprite-gnavi-home-name: 'sprite-gnavi_home';
$sprite-gnavi-home-x: 136px;
$sprite-gnavi-home-y: 182px;
$sprite-gnavi-home-offset-x: -136px;
$sprite-gnavi-home-offset-y: -182px;
$sprite-gnavi-home-width: 36px;
$sprite-gnavi-home-height: 9px;
$sprite-gnavi-home-total-width: 241px;
$sprite-gnavi-home-total-height: 234px;
$sprite-gnavi-home-image: '/assets/images/_sprite.png';
$sprite-gnavi-home: (136px, 182px, -136px, -182px, 36px, 9px, 241px, 234px, '/assets/images/_sprite.png', 'sprite-gnavi_home', );
$sprite-gnavi-instagram-name: 'sprite-gnavi_instagram';
$sprite-gnavi-instagram-x: 127px;
$sprite-gnavi-instagram-y: 143px;
$sprite-gnavi-instagram-offset-x: -127px;
$sprite-gnavi-instagram-offset-y: -143px;
$sprite-gnavi-instagram-width: 24px;
$sprite-gnavi-instagram-height: 24px;
$sprite-gnavi-instagram-total-width: 241px;
$sprite-gnavi-instagram-total-height: 234px;
$sprite-gnavi-instagram-image: '/assets/images/_sprite.png';
$sprite-gnavi-instagram: (127px, 143px, -127px, -143px, 24px, 24px, 241px, 234px, '/assets/images/_sprite.png', 'sprite-gnavi_instagram', );
$sprite-gnavi-logo-name: 'sprite-gnavi_logo';
$sprite-gnavi-logo-x: 67px;
$sprite-gnavi-logo-y: 54px;
$sprite-gnavi-logo-offset-x: -67px;
$sprite-gnavi-logo-offset-y: -54px;
$sprite-gnavi-logo-width: 119px;
$sprite-gnavi-logo-height: 35px;
$sprite-gnavi-logo-total-width: 241px;
$sprite-gnavi-logo-total-height: 234px;
$sprite-gnavi-logo-image: '/assets/images/_sprite.png';
$sprite-gnavi-logo: (67px, 54px, -67px, -54px, 119px, 35px, 241px, 234px, '/assets/images/_sprite.png', 'sprite-gnavi_logo', );
$sprite-gnavi-map-name: 'sprite-gnavi_map';
$sprite-gnavi-map-x: 160px;
$sprite-gnavi-map-y: 107px;
$sprite-gnavi-map-offset-x: -160px;
$sprite-gnavi-map-offset-y: -107px;
$sprite-gnavi-map-width: 26px;
$sprite-gnavi-map-height: 9px;
$sprite-gnavi-map-total-width: 241px;
$sprite-gnavi-map-total-height: 234px;
$sprite-gnavi-map-image: '/assets/images/_sprite.png';
$sprite-gnavi-map: (160px, 107px, -160px, -107px, 26px, 9px, 241px, 234px, '/assets/images/_sprite.png', 'sprite-gnavi_map', );
$sprite-gnavi-price-name: 'sprite-gnavi_price';
$sprite-gnavi-price-x: 127px;
$sprite-gnavi-price-y: 167px;
$sprite-gnavi-price-offset-x: -127px;
$sprite-gnavi-price-offset-y: -167px;
$sprite-gnavi-price-width: 37px;
$sprite-gnavi-price-height: 9px;
$sprite-gnavi-price-total-width: 241px;
$sprite-gnavi-price-total-height: 234px;
$sprite-gnavi-price-image: '/assets/images/_sprite.png';
$sprite-gnavi-price: (127px, 167px, -127px, -167px, 37px, 9px, 241px, 234px, '/assets/images/_sprite.png', 'sprite-gnavi_price', );
$sprite-gnavi-reserve-name: 'sprite-gnavi_reserve';
$sprite-gnavi-reserve-x: 66px;
$sprite-gnavi-reserve-y: 182px;
$sprite-gnavi-reserve-offset-x: -66px;
$sprite-gnavi-reserve-offset-y: -182px;
$sprite-gnavi-reserve-width: 70px;
$sprite-gnavi-reserve-height: 9px;
$sprite-gnavi-reserve-total-width: 241px;
$sprite-gnavi-reserve-total-height: 234px;
$sprite-gnavi-reserve-image: '/assets/images/_sprite.png';
$sprite-gnavi-reserve: (66px, 182px, -66px, -182px, 70px, 9px, 241px, 234px, '/assets/images/_sprite.png', 'sprite-gnavi_reserve', );
$sprite-gnavi-studioguide-name: 'sprite-gnavi_studioguide';
$sprite-gnavi-studioguide-x: 67px;
$sprite-gnavi-studioguide-y: 107px;
$sprite-gnavi-studioguide-offset-x: -67px;
$sprite-gnavi-studioguide-offset-y: -107px;
$sprite-gnavi-studioguide-width: 93px;
$sprite-gnavi-studioguide-height: 9px;
$sprite-gnavi-studioguide-total-width: 241px;
$sprite-gnavi-studioguide-total-height: 234px;
$sprite-gnavi-studioguide-image: '/assets/images/_sprite.png';
$sprite-gnavi-studioguide: (67px, 107px, -67px, -107px, 93px, 9px, 241px, 234px, '/assets/images/_sprite.png', 'sprite-gnavi_studioguide', );
$sprite-gnavi-studiophoto-name: 'sprite-gnavi_studiophoto';
$sprite-gnavi-studiophoto-x: 67px;
$sprite-gnavi-studiophoto-y: 98px;
$sprite-gnavi-studiophoto-offset-x: -67px;
$sprite-gnavi-studiophoto-offset-y: -98px;
$sprite-gnavi-studiophoto-width: 97px;
$sprite-gnavi-studiophoto-height: 9px;
$sprite-gnavi-studiophoto-total-width: 241px;
$sprite-gnavi-studiophoto-total-height: 234px;
$sprite-gnavi-studiophoto-image: '/assets/images/_sprite.png';
$sprite-gnavi-studiophoto: (67px, 98px, -67px, -98px, 97px, 9px, 241px, 234px, '/assets/images/_sprite.png', 'sprite-gnavi_studiophoto', );
$sprite-gnavi-terms-name: 'sprite-gnavi_terms';
$sprite-gnavi-terms-x: 67px;
$sprite-gnavi-terms-y: 89px;
$sprite-gnavi-terms-offset-x: -67px;
$sprite-gnavi-terms-offset-y: -89px;
$sprite-gnavi-terms-width: 101px;
$sprite-gnavi-terms-height: 9px;
$sprite-gnavi-terms-total-width: 241px;
$sprite-gnavi-terms-total-height: 234px;
$sprite-gnavi-terms-image: '/assets/images/_sprite.png';
$sprite-gnavi-terms: (67px, 89px, -67px, -89px, 101px, 9px, 241px, 234px, '/assets/images/_sprite.png', 'sprite-gnavi_terms', );
$sprite-gnavi-twitter-name: 'sprite-gnavi_twitter';
$sprite-gnavi-twitter-x: 152px;
$sprite-gnavi-twitter-y: 119px;
$sprite-gnavi-twitter-offset-x: -152px;
$sprite-gnavi-twitter-offset-y: -119px;
$sprite-gnavi-twitter-width: 24px;
$sprite-gnavi-twitter-height: 24px;
$sprite-gnavi-twitter-total-width: 241px;
$sprite-gnavi-twitter-total-height: 234px;
$sprite-gnavi-twitter-image: '/assets/images/_sprite.png';
$sprite-gnavi-twitter: (152px, 119px, -152px, -119px, 24px, 24px, 241px, 234px, '/assets/images/_sprite.png', 'sprite-gnavi_twitter', );
$sprite-gototop-name: 'sprite-gototop';
$sprite-gototop-x: 188px;
$sprite-gototop-y: 122px;
$sprite-gototop-offset-x: -188px;
$sprite-gototop-offset-y: -122px;
$sprite-gototop-width: 40px;
$sprite-gototop-height: 54px;
$sprite-gototop-total-width: 241px;
$sprite-gototop-total-height: 234px;
$sprite-gototop-image: '/assets/images/_sprite.png';
$sprite-gototop: (188px, 122px, -188px, -122px, 40px, 54px, 241px, 234px, '/assets/images/_sprite.png', 'sprite-gototop', );
$sprite-map-icon1-name: 'sprite-map_icon1';
$sprite-map-icon1-x: 188px;
$sprite-map-icon1-y: 67px;
$sprite-map-icon1-offset-x: -188px;
$sprite-map-icon1-offset-y: -67px;
$sprite-map-icon1-width: 48px;
$sprite-map-icon1-height: 55px;
$sprite-map-icon1-total-width: 241px;
$sprite-map-icon1-total-height: 234px;
$sprite-map-icon1-image: '/assets/images/_sprite.png';
$sprite-map-icon1: (188px, 67px, -188px, -67px, 48px, 55px, 241px, 234px, '/assets/images/_sprite.png', 'sprite-map_icon1', );
$sprite-map-icon2-name: 'sprite-map_icon2';
$sprite-map-icon2-x: 188px;
$sprite-map-icon2-y: 0px;
$sprite-map-icon2-offset-x: -188px;
$sprite-map-icon2-offset-y: 0px;
$sprite-map-icon2-width: 53px;
$sprite-map-icon2-height: 67px;
$sprite-map-icon2-total-width: 241px;
$sprite-map-icon2-total-height: 234px;
$sprite-map-icon2-image: '/assets/images/_sprite.png';
$sprite-map-icon2: (188px, 0px, -188px, 0px, 53px, 67px, 241px, 234px, '/assets/images/_sprite.png', 'sprite-map_icon2', );
$sprite-price-icon1-name: 'sprite-price_icon1';
$sprite-price-icon1-x: 0px;
$sprite-price-icon1-y: 119px;
$sprite-price-icon1-offset-x: 0px;
$sprite-price-icon1-offset-y: -119px;
$sprite-price-icon1-width: 63px;
$sprite-price-icon1-height: 63px;
$sprite-price-icon1-total-width: 241px;
$sprite-price-icon1-total-height: 234px;
$sprite-price-icon1-image: '/assets/images/_sprite.png';
$sprite-price-icon1: (0px, 119px, 0px, -119px, 63px, 63px, 241px, 234px, '/assets/images/_sprite.png', 'sprite-price_icon1', );
$sprite-price-icon2-name: 'sprite-price_icon2';
$sprite-price-icon2-x: 0px;
$sprite-price-icon2-y: 54px;
$sprite-price-icon2-offset-x: 0px;
$sprite-price-icon2-offset-y: -54px;
$sprite-price-icon2-width: 67px;
$sprite-price-icon2-height: 65px;
$sprite-price-icon2-total-width: 241px;
$sprite-price-icon2-total-height: 234px;
$sprite-price-icon2-image: '/assets/images/_sprite.png';
$sprite-price-icon2: (0px, 54px, 0px, -54px, 67px, 65px, 241px, 234px, '/assets/images/_sprite.png', 'sprite-price_icon2', );
$sprite-price-icon3-name: 'sprite-price_icon3';
$sprite-price-icon3-x: 63px;
$sprite-price-icon3-y: 119px;
$sprite-price-icon3-offset-x: -63px;
$sprite-price-icon3-offset-y: -119px;
$sprite-price-icon3-width: 64px;
$sprite-price-icon3-height: 58px;
$sprite-price-icon3-total-width: 241px;
$sprite-price-icon3-total-height: 234px;
$sprite-price-icon3-image: '/assets/images/_sprite.png';
$sprite-price-icon3: (63px, 119px, -63px, -119px, 64px, 58px, 241px, 234px, '/assets/images/_sprite.png', 'sprite-price_icon3', );
$sprite-price-icon4-name: 'sprite-price_icon4';
$sprite-price-icon4-x: 0px;
$sprite-price-icon4-y: 182px;
$sprite-price-icon4-offset-x: 0px;
$sprite-price-icon4-offset-y: -182px;
$sprite-price-icon4-width: 66px;
$sprite-price-icon4-height: 52px;
$sprite-price-icon4-total-width: 241px;
$sprite-price-icon4-total-height: 234px;
$sprite-price-icon4-image: '/assets/images/_sprite.png';
$sprite-price-icon4: (0px, 182px, 0px, -182px, 66px, 52px, 241px, 234px, '/assets/images/_sprite.png', 'sprite-price_icon4', );
$sprite-studioguide-star-on-name: 'sprite-studioguide_star_on';
$sprite-studioguide-star-on-x: 151px;
$sprite-studioguide-star-on-y: 143px;
$sprite-studioguide-star-on-offset-x: -151px;
$sprite-studioguide-star-on-offset-y: -143px;
$sprite-studioguide-star-on-width: 22px;
$sprite-studioguide-star-on-height: 22px;
$sprite-studioguide-star-on-total-width: 241px;
$sprite-studioguide-star-on-total-height: 234px;
$sprite-studioguide-star-on-image: '/assets/images/_sprite.png';
$sprite-studioguide-star-on: (151px, 143px, -151px, -143px, 22px, 22px, 241px, 234px, '/assets/images/_sprite.png', 'sprite-studioguide_star_on', );
$spritesheet-width: 241px;
$spritesheet-height: 234px;
$spritesheet-image: '/assets/images/_sprite.png';
$spritesheet-sprites: ($sprite-foot-logo, $sprite-gnavi-facebook, $sprite-gnavi-home, $sprite-gnavi-instagram, $sprite-gnavi-logo, $sprite-gnavi-map, $sprite-gnavi-price, $sprite-gnavi-reserve, $sprite-gnavi-studioguide, $sprite-gnavi-studiophoto, $sprite-gnavi-terms, $sprite-gnavi-twitter, $sprite-gototop, $sprite-map-icon1, $sprite-map-icon2, $sprite-price-icon1, $sprite-price-icon2, $sprite-price-icon3, $sprite-price-icon4, $sprite-studioguide-star-on, );
$spritesheet: (241px, 234px, '/assets/images/_sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
