@import "mixin";
.show {
  display: block !important;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.invisible {
  visibility: hidden;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.txt-left {
  text-align: left;
}
.txt-center {
  text-align: center;
}
.txt-right {
  text-align: right;
}
.clearfix {
  display: block;
  min-height: 1%;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.u-block {
  display: block;
}
.u-relative {
  position: relative;
}
.sp-w100 {
  @include sp {
    width: 100%;
  }
}

.mgT40 {
  margin-top: 40px !important;
}
.sp-mgT30 {
  @include sp {
    margin-top: 30px !important;
  }
}