<%
var conf = {
    title : ' | RESERVE',
    js: ['reserve'],
    css: ['reserve'],
    anchorLink: '/'
};
%>

<% include ../../common/_head %>
<% include ../../components/header/_header %>
<% include ../../components/header_sp/_header_sp %>

<div id="reserve" class="content txt-center">
    <div class="content__frame">
        <h1 class="content__block">
            <img src="../../assets/images/reserve/reserve_text.png" alt="Reserve">
        </h1>
        <h2 class="content__block">
            ご予約はこちら
        </h2>

        <div>
            <form id="input" class="form">
                <div class="form-group">
                    <label>お名前&nbsp;<em id="err-name">お名前が入力されていません</em></label>
                    <div>
                        <input id="name" class="form-control" type="text">
                    </div>
                </div>
                
                <div class="form-group">
                    <label>電話番号&nbsp;<em id="err-tel">電話番号が正しくありません</em></label>
                    <div>
                        <input id="tel" class="form-control" type="text">
                    </div>
                </div>
                
                <div class="form-group">
                    <label>メールアドレス&nbsp;<em id="err-email">メールアドレスが正しくありません</em></label>
                    <div>
                        <input id="email" class="form-control" type="text">
                    </div>
                </div>

                <div class="form-group">
                    <label>予約・お問い合わせ&nbsp;<em id="err-contact">予約・お問い合わせ内容が入力されていません</em></label>
                    <div class="sample">
                        <p>記入例）</p>
                        <p>
                            使用用途：スチール撮影<br>
                            希望撮影日：１月１日（日）12:00-16:00<br>
                            など撮影内容やその他お問合せ内容をご記入ください。
                        </p>
                    </div>
                    <div>
                        <textarea id="contact" class="form-control" rows="5"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="txt-center">
                        <input id="terms" type="checkbox">&nbsp;<a href="/terms" target="_blank" class="rule-link">利用規約</a>に同意する
                    </div>
                    <div class="txt-center">
                        <em id="err-terms">利用規約に同意する必要があります</em>
                    </div>
                </div>

                <div class="form-group txt-center">
                    <button id="bt-confirm" class="form-control btThumb">内容を確認</button>
                </div>

            </form>

            <div id="confirm" class="form">
                <div class="form-group">
                    <label>お名前</label>
                    <div>
                        <p id="confirm-name"></p>
                    </div>
                </div>

                <div class="form-group">
                    <label>電話番号</label>
                    <div>
                        <p id="confirm-tel"></p>
                    </div>
                </div>

                <div class="form-group">
                    <label>メールアドレス</label>
                    <div>
                        <p id="confirm-email"></p>
                    </div>
                </div>

                <div class="form-group">
                    <label>予約・お問い合わせ内容</label>
                    <div>
                        <p id="confirm-contact"></p>
                    </div>
                </div>

                <div class="form-group txt-center">
                    <button id="bt-return" class="form-control btThumb">戻る</button>
                    <button id="bt-send" class="form-control btThumb">送信する</button>
                </div>
            </div>

            <div id="complete" class="form">
                <div class="content__sentence form-group txt-center">
                    <p>
                        予約・お問合せ頂きありがとうございます。<br>
                        スタジオ担当者より追ってご連絡いたします。
                    </p>
                </div>

                <div class="form-group txt-center">
                    <button id="bt-top" class="form-control btThumb">TOPへ戻る</button>
                </div>
            </div>
        </div>

    </div>
</div>

<% include ../../components/footer/_footer %>
<% include ../../common/_foot %>