@import "../../common/project";
@import "../../components/header/header";
@import "../../components/header_sp/header_sp";
@import "../../components/footer/footer";

body {
  opacity: 0;
}

#reserve.content {
  .content__frame {
    padding: 120px 0 80px;

    @include sp {
      padding: 80px 30px 50px;
    }
  }


  .form {
    margin: 30px auto 0;
    text-align: left;
    width: 640px;

    @include sp {
      width: 100%;
    }
  }
  .form-group {
    padding: 20px 0;
    em {
      color: #ee2233;
      font-size: 12px;
      vertical-align: middle;
    }
  }
  .form-control {
    margin-top: 10px;
    background: #ebebeb;
    border: none;
    padding: 10px;
    outline: none;
  }
  input[type="text"].form-control {
    width: 320px;
    height: 20px;

    @include sp {
      width: 94%;
    }
  }
  textarea.form-control {
    width: 620px;

    @include sp {
      width: 94%;
    }
  }
  button.form-control {
    border: none;
    color: #ffffff;
    background: #4587ca;
    font-size: 14px;
    width: 190px;
    height: 50px;
  }

  .sample {
    margin-top: 20px;
    color: #888888;
    font-size: 10px;
    line-height: 20px;
  }
  .rule-link {
    color: #4587ca;
    text-decoration: underline;
  }

  #confirm {
    label {
      line-height: 30px;
    }
    #bt-return {
      background: #888888;
    }
  }
}