@import "../common/project";
@import "../components/header/header";
@import "../components/header_sp/header_sp";
@import "../components/footer/footer";

body {
    opacity: 0;
}
.mt10 {
    margin-top: 10px;
    @include tb { margin-top: 7px; }
    @include sp { margin-top: 5px; }
}
.mt20 {
    margin-top: 20px;
    @include tb { margin-top: 17px; }
    @include sp { margin-top: 15px; }
}
.mt30 {
    margin-top: 30px;
    @include tb { margin-top: 25px; }
    @include sp { margin-top: 20px; }
}
.mt40 {
    margin-top: 40px;
    @include tb { margin-top: 30px; }
    @include sp { margin-top: 20px; }
}
.mt50 {
    margin-top: 50px;
    @include tb { margin-top: 40px; }
    @include sp { margin-top: 30px; }
}
.default {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 2px;
    @include sp {
        font-size: 15px;
        line-height: 24px;
        letter-spacing: 1px;
    }
}
.large {
    font-size: 30px;
    line-height: 36px;
    @include sp {
        font-size: 20px;
        line-height: 30px;
    }
}
.middle {
    font-size: 24px;
    line-height: 30px;
    @include sp {
        font-size: 18px;
        line-height: 24px;
    }
}
.small {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.5px;
    @include sp { font-size: 12px;  }
}
.bold {
    font-weight: bold;
}
.underline {
    text-decoration: underline;
}
.sp-newline {
    @include sp {
        display: block;
    }
}

.gird {
    margin-left: -5px;
    margin-right: -5px;
}
.grid__item {
    float: left;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 30px;
    img {
        width: 100%
    }
}

.event {
    box-sizing: border-box;
    margin: 0 auto;

    @include tb {
        width: 100%;
        padding: 0 15px;
    }
    @include sp {
        width: 100%;
        padding: 0 10px;
    }

    .content__frame {
        padding: 0;
    }

    .event_subtitle {
        margin-left: 20px;
        @include sp {
            display: block;
        }
    }

    .talent {
        .talent__item {
            float: left;
            width: 25%;
            margin-bottom: 34px;

            img {
                width: 100%;
            }
            p {
                margin-top: 10px;
            }
            a {
                text-decoration: underline;
            }
            @include sp {
                width: 50%;
            }
        }
        .line3 {
            margin: 0 auto;
        }
    }
    .talent-3 {
        width: 592.5px;
        margin: 0 auto;
        .talent__item {
            width: 33.3333%;

        }
        @include sp {
            width: 100%;
            .talent__item {
                width: 50%;
            }
        }
    }

    .schedule {
        width: 720px;
        margin-left: auto;
        margin-right: auto;
        @include sp {
            width: 100%;
        }
    }
    .schedule__item {
        border-top: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
        padding: 34px 0;
    }
    .schedule__item + .schedule__item {
        border-top: none;
    }
}