<%
var conf = {
    title : ' | TOP',
    anchorLink: ''
};
%>

<% include ../common/_head %>
<% include ../components/header/_header %>
<% include ../components/header_sp/_header_sp %>

<!-- START MAIN -->
<div class="txt-center">
    <section id="main" class="content">
        <div class="content__visual u-relative">
            <div class="slider">
                <ul class="slider__list">
                    <li>
                        <img src="../assets/images/main/mv2.jpg">
                    </li>
                    <li>
                        <img src="../assets/images/main/mv3.jpg">
                    </li>
                    <li>
                        <img src="../assets/images/main/mv1.jpg">
                    </li>
                </ul>
            </div>

            <img class="logo" src="../assets/images/main/main-logo.png">

        </div>

        <div class="content__frame">
            <h1 class="content__block">
                <img class="sp-w100" src="../assets/images/main/main_logotext.png" alt="Studio Half Star（スタジオハーフスター）">
            </h1>
            <h2 class="content__block">
                <img class="sp-w100" src="../assets/images/main/main_text.png" alt="スターを完成させるのは、スタジオを使うアナタ自身です。">
            </h2>

            <div class="content__block content__sentence">
                <p>
                    私たちは、スタジオを使う方の作品に<br>
                    少しでもお手伝いをできたらという思いから<br>
                    このスタジオを作りました。<br>
                    <br>
                    一番星のようにキラキラ輝く作品を<br>
                    是非このスタジオで作ってください。
                </p>
            </div>
        </div>

    </section>

    <section id="studio-photo" class="content">
        <div class="content__visual">
            <img src="../assets/images/photo/studiophoto_img.jpg" width="100%">
        </div>

        <div class="content__frame">
            <h2 class="content__block">
                <img src="../assets/images/photo/studiophoto_text.png" alt="Studio Photo">
            </h2>
            <h3 class="content__block">
                スタジオフォト
            </h3>

            <div class="photos mgT40 sp-mgT30">
                <ul class="clearfix">
                    <li>
                        <a class="btThumb _photo"
                           _click="popup open"
                           _src="../assets/images/photo/big/1.jpg">
                            <img src="../assets/images/photo/photo1.png">
                        </a>
                    </li>
                    <li>
                        <a class="btThumb _photo"
                           _click="popup open"
                           _src="../assets/images/photo/big/2.jpg">
                            <img src="../assets/images/photo/photo2.png">
                        </a>
                    </li>
                    <li>
                        <a class="btThumb _photo"
                           _click="popup open"
                           _src="../assets/images/photo/big/3.jpg">
                            <img src="../assets/images/photo/photo3.png">
                        </a>
                    </li>
                    <li>
                        <a class="btThumb _photo"
                           _click="popup open"
                           _src="../assets/images/photo/big/4.jpg">
                            <img src="../assets/images/photo/photo4.png">
                        </a>
                    </li>
                    <li>
                        <a class="btThumb _photo"
                           _click="popup open"
                           _src="../assets/images/photo/big/5.jpg">
                            <img src="../assets/images/photo/photo5.png">
                        </a>
                    </li>
                    <li>
                        <a class="btThumb _photo"
                           _click="popup open"
                           _src="../assets/images/photo/big/6.jpg">
                            <img src="../assets/images/photo/photo6.png">
                        </a>
                    </li>
                    <li>
                        <a class="btThumb _photo"
                           _click="popup open"
                           _src="../assets/images/photo/big/7.jpg">
                            <img src="../assets/images/photo/photo7.png">
                        </a>
                    </li>
                    <li>
                        <a class="btThumb _photo"
                           _click="popup open"
                           _src="../assets/images/photo/big/8.jpg">
                            <img src="../assets/images/photo/photo8.png">
                        </a>
                    </li>
                    <li>
                        <a class="btThumb _photo"
                           _click="popup open"
                           _src="../assets/images/photo/big/9.jpg">
                            <img src="../assets/images/photo/photo9.png">
                        </a>
                    </li>
                    <li>
                        <a class="btThumb _photo"
                           _click="popup open"
                           _src="../assets/images/photo/big/21.jpg">
                            <img src="../assets/images/photo/photo21.png">
                        </a>
                    </li>
                </ul>
            </div>

            <h4 class="content__block mgT40 sp-mgT30">
                <img src="../assets/images/photo/kitchentools_text.png" alt="Kitchen Tools">
            </h4>

            <div class="photos">
                <ul class="clearfix">
                    <li>
                        <a class="btThumb _kitchen"
                           _click="popup open"
                           _src="../assets/images/photo/big/10.jpg">
                            <img src="../assets/images/photo/photo10.png">
                        </a>
                        <a class="kitchen__pdf" href="../assets/pdf/tableware.pdf" target="_blank">食器 (PDF)</a>
                    </li>
                    <li>
                        <a class="btThumb _kitchen"
                           _click="popup open"
                           _src="../assets/images/photo/big/11.jpg">
                            <img src="../assets/images/photo/photo11.png">
                        </a>
                        <a class="kitchen__pdf" href="../assets/pdf/cutlery.pdf" target="_blank">カトラリー (PDF)</a>
                    </li>
                    <li>
                        <a class="btThumb _kitchen"
                           _click="popup open"
                           _src="../assets/images/photo/big/12.jpg">
                            <img src="../assets/images/photo/photo12.png">
                        </a>
                        <a class="kitchen__pdf" href="../assets/pdf/pot.pdf" target="_blank">鍋 (PDF)</a>
                    </li>
                    <li>
                        <a class="btThumb _kitchen"
                           _click="popup open"
                           _src="../assets/images/photo/big/13.jpg">
                            <img src="../assets/images/photo/photo13.png">
                        </a>
                        <a class="kitchen__pdf" href="../assets/pdf/little_item.pdf" target="_blank">小物アイテム (PDF)</a>
                    </li>
                    <li>
                        <a class="btThumb _kitchen"
                           _click="popup open"
                           _src="../assets/images/photo/big/14.jpg">
                            <img src="../assets/images/photo/photo14.png">
                        </a>
                        <a class="kitchen__pdf" href="../assets/pdf/paper_napkin.pdf" target="_blank">ペーパーナプキン (PDF)</a>
                    </li>
                    <li>
                        <a class="btThumb _kitchen"
                           _click="popup open"
                           _src="../assets/images/photo/big/15.jpg">
                            <img src="../assets/images/photo/photo15.png">
                        </a>
                        <a class="kitchen__pdf" href="../assets/pdf/glass.pdf" target="_blank">グラス (PDF)</a>
                    </li>
                    <li>
                        <a class="btThumb _kitchen"
                           _click="popup open"
                           _src="../assets/images/photo/big/16.jpg">
                            <img src="../assets/images/photo/photo16.png">
                        </a>
                        <a class="kitchen__pdf" href="../assets/pdf/Stove.pdf" target="_blank">コンロの詳細</a>
                    </li>
                    <li>
                        <a class="btThumb _kitchen"
                           _click="popup open"
                           _src="../assets/images/photo/big/17.jpg">
                            <img src="../assets/images/photo/photo17.png">
                        </a>
                        <a class="kitchen__pdf"></a>
                    </li>
                    <li>
                        <a class="btThumb _kitchen"
                           _click="popup open"
                           _src="../assets/images/photo/big/18.jpg">
                            <img src="../assets/images/photo/photo18.png">
                        </a>
                        <a class="kitchen__pdf"></a>
                    </li>
                    <li>
                        <a class="btThumb _kitchen"
                           _click="popup open"
                           _src="../assets/images/photo/big/19.jpg">
                            <img src="../assets/images/photo/photo19.png">
                        </a>
                        <a class="kitchen__pdf" href="../assets/pdf/microwave.pdf" target="_blank">レンジの詳細</a>
                    </li>
                    <li>
                        <a class="btThumb _kitchen"
                           _click="popup open"
                           _src="../assets/images/photo/big/20.jpg">
                            <img src="../assets/images/photo/photo20.png">
                        </a>
                        <a class="kitchen__pdf"></a>
                    </li>
                    <li>
                        <a class="btThumb _kitchen"
                           _click="popup open"
                           _src="../assets/images/photo/big/22.jpg">
                            <img src="../assets/images/photo/photo22.png">
                        </a>
                        <a class="kitchen__pdf" href="../assets/pdf/water_filter.pdf" target="_blank">浄水器の詳細</a>
                    </li>
                    <li>
                        <a class="btThumb _kitchen"
                           _click="popup open"
                           _src="../assets/images/photo/big/23.jpg">
                            <img src="../assets/images/photo/photo23.png">
                        </a>
                        <a class="kitchen__pdf" href="../assets/pdf/refrigerator.pdf" target="_blank">冷蔵庫の詳細</a>
                    </li>
                </ul>
            </div>

        </div>

    </section>

    <section id="studio-guide" class="content">
        <div class="content__visual">
            <img src="../assets/images/guide/studioguide_img.jpg" width="100%">
        </div>

        <div class="content__frame">
            <h2 class="content__block">
                <img src="../assets/images/guide/studioguide_text.png" alt="Studio Guide">
            </h2>
            <h3 class="content__block">
                スタジオガイド
            </h3>

            <div class="guide-map">
                <img src="../assets/images/guide/studioguide_map.png">

                <a class="btStar _guid" id="map1"
                   _src="../assets/images/guide/big/1F_3.jpg"
                   _click="popup open">
                    <span class="sprite sprite--star-on"></span>
                </a>
                <a class="btStar _guid" id="map2"
                   _src="../assets/images/guide/big/1F_2.jpg"
                   _click="popup open">
                    <span class="sprite sprite--star-on"></span>
                </a>
                <a class="btStar _guid" id="map3"
                   _src="../assets/images/guide/big/1F_1.jpg"
                   _click="popup open">
                    <span class="sprite sprite--star-on"></span>
                </a>
                <a class="btStar _guid" id="map4"
                   _src="../assets/images/guide/big/2F_2.jpg"
                   _click="popup open">
                    <span class="sprite sprite--star-on"></span>
                </a>
                <a class="btStar _guid" id="map5"
                   _src="../assets/images/guide/big/2F_1.jpg"
                   _click="popup open">
                    <span class="sprite sprite--star-on"></span>
                </a>
                <a class="btStar _guid" id="map6"
                   _src="../assets/images/guide/big/3F.jpg"
                   _click="popup open">
                    <span class="sprite sprite--star-on"></span>
                </a>
                <a class="btStar _guid" id="map7"
                   _src="../assets/images/guide/big/rooftop.jpg"
                   _click="popup open">
                    <span class="sprite sprite--star-on"></span>
                </a>

            </div>

            <div class="guide-txt">
                <div>
                    <span class="ttl ttl1">1階の洋室2部屋について</span>
                    1階 洋室6畳は通常メイクルームですが、モデルさん、出演者の控え室としても利用できます。<br />
                    洋室6.8畳はスタジオスタッフの控え室です。基本的には利用できません。ご利用の場合は部屋の半分をご利用できるので、お申し付け下さい。
                </div>
                <div class="box">
                    <span class="ttl ttl2">アンペア数</span>
                    <dl>
                        <dt>1階</dt>
                        <dd>アンペア 40A</dd>
                    </dl>
                    <dl>
                        <dt>2階/3階</dt>
                        <dd>アンペア 60A</dd>
                    </dl>
                    <dl>
                        <dt>1棟</dt>
                        <dd>総アンペア数 100A</dd>
                    </dl>
                </div>
                <div class="box">
                    <span class="ttl ttl3">インターネット環境の記載追加</span>
                    インターネット環境は有線・無線をご利用頂けます。
                </div>
                <div class="box">
                    <span class="ttl">キッチンのシンクタンク</span>
                    固定されていますので動きません。
                </div>
                <div class="box">
                    <span class="ttl">食器やカトラリー類</span>
                    紛失などで写真のものがない場合があるので、必要な食器類はお問い合わせください。<br />
                    写真以外にも追加されているものはPDFに記しています。
                </div>
                <div class="box">
                    <span class="ttl">駐車場</span>
                    1台まで駐車可能です。（小型車なら2台）
                </div>
                <div class="box">
                    <span class="ttl">2階のシャンデリア</span>
                    取り外し可能です。<br />
                    日の出から日没まで自然光で撮影でき、遮光カーテンで暗室にもできます。
                </div>
            </div>
        </div>
    </section>

    <section id="price" class="content">
        <div class="loopImage">
            <ul>
                <li>
                    <a class="btThumb _price"
                       _src="../assets/images/price/big/1.jpg"
                       _click="popup open">
                        <img src="../assets/images/price/btn/1.jpg">
                    </a>
                </li>
                <li>
                    <a class="btThumb _price"
                       _src="../assets/images/price/big/2.jpg"
                       _click="popup open">
                        <img src="../assets/images/price/btn/2.jpg">
                    </a>
                </li>
                <li>
                    <a class="btThumb _price"
                       _src="../assets/images/price/big/3.jpg"
                       _click="popup open">
                        <img src="../assets/images/price/btn/3.jpg">
                    </a>
                </li>
                <li>
                    <a class="btThumb _price"
                       _src="../assets/images/price/big/4.jpg"
                       _click="popup open">
                        <img src="../assets/images/price/btn/4.jpg">
                    </a>
                </li>
                <li>
                    <a class="btThumb _price"
                       _src="../assets/images/price/big/5.jpg"
                       _click="popup open">
                        <img src="../assets/images/price/btn/5.jpg">
                    </a>
                </li>
                <li>
                    <a class="btThumb _price"
                       _src="../assets/images/price/big/6.jpg"
                       _click="popup open">
                        <img src="../assets/images/price/btn/6.jpg">
                    </a>
                </li>
            </ul>
        </div>

        <div class="content__frame">
            <h2 class="content__block">
                <img src="../assets/images/price/price_text.png" alt="Price">
            </h2>
            <h3 class="content__block">
                スタジオ料金
            </h3>

            <div class="content__sentence content__table">
                <table>
                    <tr>
                        <td class="content__table__icon">
                            <span class="sprite sprite--price-icon1"></span>
                        </td>
                        <td>
                            <dl class="usageFee">
                                <dt>利用料金</dt>
                                <dd>
                                    <p class="usageFee_ttl">フレッシュキャンペーン</p>
                                    <ul class="clearfix">
                                        <li class="pull-left">
                                            スチール　<span class="before">Rp.15,000/1時間（税別）</span>
                                        </li>
                                        <li class="pull-left">
                                            <span class="arw">→</span>
                                        </li>
                                        <li class="pull-left">
                                            <span class="after">10,000円</span>/1時間（税別）<br />
                                            <span class="after">Rp.80,000</span>/10時間パック（税別）
                                        </li>
                                    </ul>
                                    <ul class="clearfix">
                                        <li class="pull-left">
                                            ムービー　<span class="before">18,Rp.000/1時間（税別）</span>
                                        </li>
                                        <li class="pull-left">
                                            <span class="arw">→</span>
                                        </li>
                                        <li class="pull-left">
                                            <span class="after">Rp.12,000</span>/1時間（税別）<br />
                                            <span class="after">Rp.100,000</span>/10時間パック（税別）
                                        </li>
                                    </ul>
                                    ※ 最低利用３時間より。<br>
                                    ※ 延長は1時間単位の請求となります。<br>
                                    ※ 時間外料金　1時間＋Rp.3000。<br>
                                    ※ インタビュー撮影、料理教室、展示会、セミナー等、撮影機材を使わない利用に限っては最低利用税別3時間25,000円(1時間増すごとにプラスRp.10,000)のプランもご用意していますので、お気軽にお問い合わせ下さい。
                                </dd>
                            </dl>
                        </td>
                    </tr>
                    <tr>
                        <td class="content__table__icon">
                            <span class="sprite sprite--price-icon2"></span>
                        </td>
                        <td>
                            <dl>
                                <dt>基本使用可能時間</dt>
                                <dd>
                                    9 : 00 – 20 : 00<br>
                                    ※ 時間外の撮影をご希望の方はご相談ください。
                                </dd>
                            </dl>
                        </td>
                    </tr>
                    <tr>
                        <td class="content__table__icon">
                            <span class="sprite sprite--price-icon3"></span>
                        </td>
                        <td>
                            <dl>
                                <dt>キャンセル料</dt>
                                <dd>
                                	・ 当日〜前日 料金の100%<br>
									・ 2日前〜3日前 料金の50%<br>
									・ 4日前〜7日前 料金の30%<br>
									・ 8日前以前 無料<br><br>
                                    キャンセル料ご予約決定後キャンセルされた場合は、キャンセル料をご請求させていただきます。<br>
                                    キャンセル料金は利用申込書にご記入のご予約時間分のご請求となります。<br>
                                    ※利用申込書を送付いただけなかった場合は、1日8時間分とさせていただきます。<br>
                                    ご請求書にて請求させていただきます。
                                </dd>
                            </dl>
                        </td>
                    </tr>
                    <tr>
                        <td class="content__table__icon">
                            <span class="sprite sprite--price-icon4"></span>
                        </td>
                        <td>
                            <dl>
                                <dt>各種機材</dt>
                                <dd>
                                    <!--カメラ、照明機材を取り揃えておりますので、お問い合わせください。-->
                                    スーペリア（2.7m）背景紙は随時12色揃えています。<br />
                                    ご希望の方は1mあたり1200円でご使用頂けますので、お申し付け下さい。<br />
                                    またセンチュリー、スタンドなどの撮影機材も1台1000円〜貸し出ししています。

                                    <div class="photo">
                                        <a class="btThumb _price2"
                                           _src="../assets/images/price/big/2-1.jpg"
                                           _click="popup open">
                                            <img src="../assets/images/price/price_camera1.png">
                                        </a>
                                        <a class="btThumb _price2"
                                           _src="../assets/images/price/big/2-2.jpg"
                                           _click="popup open">
                                            <img src="../assets/images/price/price_camera2.jpg">
                                        </a>
                                    </div>
                                </dd>
                            </dl>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </section>

    <section id="map" class="content">
        <div class="content__visual">
            <img src="../assets/images/map/map_img.jpg" width="100%">
        </div>

        <div class="content__frame">
            <h2 class="content__block">
                <img src="../assets/images/map/map_text.png" alt="Map">
            </h2>
            <h3 class="content__block">
                マップ
            </h3>

            <div class="google-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.788921605864!2d139.68807440000006!3d35.65757179999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018f3545add79b7%3A0xf270758f7550e392!2s3+Chome-5-6+Komaba%2C+Meguro-ku%2C+T%C5%8Dky%C5%8D-to+153-0041!5e0!3m2!1sen!2sjp!4v1439183020322" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>

            <div class="content__sentence content__table">
                <table>
                    <tr>
                        <td class="content__table__icon">
                            <span class="sprite sprite--map-icon1"></span>
                        </td>
                        <td>
                            <dl>
                                <dt>住所</dt>
                                <dd>
                                    〒153-0041　東京都目黒区駒場3-5-6<br>
                                    駐車場１台あり<br>
                                    TEL : 03-6804-8897
                                </dd>
                            </dl>
                        </td>
                    </tr>
                    <tr>
                        <td class="content__table__icon">
                            <span class="sprite sprite--map-icon2"></span>
                        </td>
                        <td>
                            <dl>
                                <dt>電車</dt>
                                <dd>
                                    京王井の頭線　駒場東大前駅東口から、徒歩3分<br>
                                    京王井の頭線　神泉駅から、徒歩7分<br>
                                    京王井の頭線　渋谷駅から、徒歩14分
                                </dd>
                            </dl>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </section>

    <% include ../components/gototop/_gototop %>

    <section id="banner" class="content">
        <div class="content__frame">
            <ul class="clearfix">
                <li>
                    <a class="btThumb" href="http://framelunch.jp" target="_blank">
                        <img src="../assets/images/banner/framelunch_bannar.png" alt="Frame Lunch">
                    </a>
                </li>
                <li>
                    <a class="btThumb" href="http://ss-tatsuro.com/" target="_blank">
                        <img src="../assets/images/banner/tatsurophotography_bannar.png" alt="Tatsuro Photography">
                    </a>
                </li>
                <li>
                    <a class="btThumb" href="http://rocosuta.com/" target="_blank">
                        <img src="../assets/images/banner/roko_bannar.png" alt="Roco Studio">
                    </a>
                </li>
            </ul>
        </div>

    </section>

</div>

<% include ../components/footer/_footer %>
<% include ../components/popup/_popup %>
<% include ../common/_foot %>