@import "../common/project";
@import "../components/header/header";
@import "../components/header_sp/header_sp";
@import "../components/footer/footer";
@import "../components/popup/popup";
@import "../components/gototop/gototop";

body {
  opacity: 0;
}

#main {
  .logo {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    @include sp {
      bottom: 30px;
      width: 200px;
    }
  }
}
#studio-photo {
  .photos {
    width: 790px;
    margin: 0 auto;

    ul {
      margin: 0 -25px;
    }
    ul > li {
      float: left;
      margin: 25px;
    }

    @include tb {
      width: 768px;
      ul {
        margin: 0;
      }
      ul > li {
        margin: 20px;
        img {
          width: 216px;
        }
      }
    }
    @include sp {
      width: 100%;
      margin: 20px auto 0;

      ul > li {
        margin: 3%;
        width: 44%;
        img {
          width: 100%;
        }
      }
    }

  }

  .kitchen__pdf {
    height: 10px;
    font-size: 10px;
    text-decoration: underline;
    margin-top: 10px;
    display: block;
  }
  .kitchen__pdf:hover {
    color: #cccccc;
  }
}
#studio-guide {
  @include sp {
    display: none;
  }
  .guide-map {
    width: 640px;
    margin: 40px auto 0;
    position: relative;

    .btStar {
      position: absolute;
      .sprite {
        transform-origin: 20% 20% 0;
        transform: scale(1.1);
      }
    }
    #map1 {
      left: 124px;
      top: 65px;
    }
    #map2 {
      left: 139px;
      top: 119px;
    }
    #map3 {
      left: 197px;
      top: 134px;
    }
    #map4 {
      left: 371px;
      top: 59px;
    }
    #map5 {
      left: 573px;
      top: 57px;
    }
    #map6 {
      left: 223px;
      top: 375px;
    }
    #map7 {
      left: 524px;
      top: 395px;
    }
  }
  .guide-txt {
    width: 640px;
    margin: 40px auto 0;
    font-size: 14px;
    text-align: left;
    line-height: 1.8;
    color: #555;

    .box {
      margin-top: 25px;
    }
    .ttl {
      font-size: 1.1em;
      font-weight: bold;
      color: #000;
      display: block;
    }
    //.ttl1 {
    //  background: url(/assets/images/guide/studioguide_icon1.png) 0 50% no-repeat;
    //}
    //.ttl2 {
    //  background: url(/assets/images/guide/studioguide_icon2.png) 5px 50% no-repeat;
    //}
    //.ttl3 {
    //  background: url(/assets/images/guide/studioguide_icon3.png) 0 50% no-repeat;
    //}
    dl {
      width: 250px;
      display: table;

      dt {
        width: 80px;
        display: table-cell;
      }
      dd {
        width: 170px;
        display: table-cell;
      }
    }
  }
}
#price {
  .loopImage {
    height: 280px;
    img {
      width: 380px;
    }

    @include sp {
      height: 100px;
      img {
        width: 135px;
      }
    }
  }
  .content__table {
    width: 800px;

    @include tb {
      width: 768px;
    }
    @include sp {
      width: 110%;
      margin-left: -5%;
      margin-right: -5%;
    }
    .usageFee {

      dt {
        margin-bottom: 20px;
      }
      .usageFee_ttl {
        margin-bottom: 20px;
        font-size: 14px;
        font-weight: bold;
      }
      ul {
        margin-bottom: 20px;

        li {
          .arw {
            margin: 0 5px;
          }
          .before {
            text-decoration: line-through;
            color: #cc0000;
          }
          .after {
            font-weight: bold;
          }
        }
      }
    }
  }
  .photo {
    margin-top: 30px;
    img {
      margin-right: 40px;
    }

    @include tb {
      img {
        margin-right: 10px;
      }
    }
    @include sp {
      img {
        margin: 0;
        width: 49%;
      }
    }
  }

}
#map {
  .google-map {
    margin-top: 60px;
    iframe {
      width: 800px;
      height: 342px;
    }

    @include tb {
      iframe {
        width: 768px;
      }
    }
    @include sp {
      width: 130%;
      margin-left: -15%;
      margin-right: -15%;
      iframe {
        width: 100%;
        height: 200px;
      }
    }
  }
  .content__table {
    width: 800px;

    @include tb {
      width: 768px;
    }
    @include sp {
      width: 110%;
      margin-left: -5%;
      margin-right: -5%;
    }
  }
}
#banner {
  background: #ececec;
  padding: 40px 0;

  .content__frame {
    padding: 0;
    width: 880px;
    margin: 0 auto;
    overflow: hidden;

    ul {
      margin-left: -25px;
      margin-right: -25px;
    }
    ul > li {
      float: left;
      margin: 0 25px;

      img {
        width: 100%;
      }
    }

    @include tb {
      width: 768px;
      ul {
        margin: 0;
      }
      ul > li {
        margin: 0 20px;
        img {
          width: 216px;
        }
      }
    }

    @include sp {
      width: 100%;
      ul {
        margin: 0;
      }
      ul > li {
        float: none;
      }
      li + li {
        margin-top: 30px;
      }
    }
  }
}