<%
var conf = {
    title : ' | マヨトラガールズ撮影会',
    js: ['reserve'],
    css: ['reserve', 'event'],
    anchorLink: '/'
};
%>

<% include ../../common/_head %>
<% include ../../components/header/_header %>
<% include ../../components/header_sp/_header_sp %>

<div class="event content txt-center">
    <div class="content__frame">
        <div class="content__block">
            <img src="../../assets/images/mayo/logo.png" alt="虎穴">
        </div>
        <div class="content__block">
            <h1 class="large bold">
                真夜中おバカ騒ぎ<span class="_subtitle">マヨ虎ガールズ撮影会</span>
            </h1>
        </div>
        <div class="content__block txt-left">
            <p class="default">
                千葉TV・東京MXで放送中の真夜中のおバカ騒ぎ。番組のひな壇に座るマヨバガールズになるべく、全４部門のランキングを総合して第１位になれば番組出演となります。
            </p>
            <p class="default mt40">
                そんなマヨバガールズ候補生のマヨ虎ガールズが撮影会を開催！<br>
                各部グループ内のタレントを誰でも撮影する事が可能です。
            </p>
        </div>

        <div class="talent clearfix mt30">
            <div class="talent__item">
                <img src="../../assets/images/mayo/1.png">
                <p class="default bold">
                    <a href="https://twitter.com/mizuki0049_d" target="_blank">井上 瑞稀</a>
                </p>
            </div>
            <div class="talent__item">
                <img src="../../assets/images/mayo/2.png">
                <p class="default bold">
                    <a href="http://ameblo.jp/ameblo-yumi/entry-12127746246.html" target="_blank">宮崎 由望</a>
                </p>
            </div>
            <div class="talent__item">
                <img src="../../assets/images/mayo/3.png">
                <p class="default bold">
                    <a href="http://www.justicejapan-ent.com/#!uno-nana/c28r" target="_blank">宇野 奈菜</a>
                </p>
            </div>
            <div class="talent__item">
                <img src="../../assets/images/mayo/4.png">
                <p class="default bold">
                    <a href="https://twitter.com/15x70004iy" target="_blank">岩井 優希</a>
                </p>
            </div>
        </div>
        <div class="talent talent-3 clearfix">
            <div class="talent__item">
                <img src="../../assets/images/mayo/5.png">
                <p class="default bold">
                    <a href="https://twitter.com/nanatam73" target="_blank">七海 ひより</a>
                </p>
            </div>
            <div class="talent__item">
                <img src="../../assets/images/mayo/6.png">
                <p class="default bold">
                    <a href="http://ameblo.jp/riiichan123/" target="_blank">石井 里香</a>
                </p>
            </div>
            <div class="talent__item">
                <img src="../../assets/images/mayo/7.png">
                <p class="default bold">
                    <a href="https://twitter.com/hojokanna" target="_blank">北条 柑菜</a>
                </p>
            </div>
        </div>

        <div class="schedule content_block mt40">
            <h2 class="large bold">スケジュール</h2>

            <div class="schedule__item txt-left mt30">
                <h3 class="default bold">タイムスケジュール</h3>
                <div class="mt30">
                    <p>
                        <span class="default bold">Aグループ :&nbsp;</span><span class="default sp-newline">石井里香/七海ひより/井上瑞稀/宮崎由望</span>
                    </p>
                    <p>
                        <span class="default bold">Bグループ :&nbsp;</span><span class="default sp-newline">宇野奈菜/北条柑菜/岩井優希/ゲスト予定</span>
                    </p>
                    <p class="default">各部4,000円</p>
                    <p class="default">8部すべて通し 25,000円</p>
                </div>
            </div>

            <div class="schedule__item txt-left">
                <p>
                    <span class="default bold">第1部 : 10:30〜11:00 </span>
                    <span class="default bold sp-newline">Aグループ4名 定員25名</span>
                </p>
                <p>
                    <span class="default bold">10分休憩</span>
                    <span class="default sp-newline">（※合間にAグループのチェキ1,000円で可能）</span>
                </p>
            </div>

            <div class="schedule__item txt-left">
                <p>
                    <span class="default bold">第2部 : 11:10〜11:40 </span>
                    <span class="default bold sp-newline">Bグループ4名 各部4,000円 定員25名</span>
                </p>
                <p>
                    <span class="default bold">10分休憩</span>
                    <span class="default sp-newline">（※合間にBグループのチェキ1,000円で可能）</span>
                </p>
            </div>

            <div class="schedule__item txt-left">
                <p>
                    <span class="default bold">第3部 : 11:50〜12:20 </span>
                    <span class="default bold sp-newline">Aグループ4名 各部4,000円 定員25名</span>
                </p>
                <p>
                    <span class="default bold">10分休憩</span>
                    <span class="default sp-newline">（※合間にAグループのチェキ1,000円で可能）</span>
                </p>
            </div>

            <div class="schedule__item txt-left">
                <p>
                    <span class="default bold">第4部 : 12:30〜13:00 </span>
                    <span class="default bold sp-newline">Bグループ4名 各部4,000円 定員25名</span>
                </p>
                <p>
                    <span class="default bold">10分休憩</span>
                    <span class="default sp-newline">（※合間にBグループのチェキ1,000円で可能）</span>
                </p>
            </div>

            <div class="schedule__item txt-left">
                <p>
                    <span class="default bold">第5部 : 13:10〜13:40 </span>
                    <span class="default bold sp-newline">Aグループ4名 各部4,000円 定員25名</span>
                </p>
                <p>
                    <span class="default bold">10分休憩</span>
                    <span class="default sp-newline">（※合間にAグループのチェキ1,000円で可能）</span>
                </p>
            </div>

            <div class="schedule__item txt-left">
                <p>
                    <span class="default bold">第6部 : 13:50〜14:20 </span>
                    <span class="default bold sp-newline">Bグループ4名 各部4,000円 定員25名</span>
                </p>
                <p>
                    <span class="default bold">10分休憩</span>
                    <span class="default sp-newline">（※合間にBグループのチェキ1,000円で可能）</span>
                </p>
            </div>

            <div class="schedule__item txt-left">
                <p>
                    <span class="default bold">第7部 : 14:30〜15:00 </span>
                    <span class="default bold sp-newline">Aグループ4名 各部4,000円 定員25名</span>
                </p>
                <p>
                    <span class="default bold">10分休憩</span>
                    <span class="default sp-newline">（※合間にAグループのチェキ1,000円で可能）</span>
                </p>
            </div>

            <div class="schedule__item txt-left">
                <p>
                    <span class="default bold">第8部 : 15:10〜15:40 </span>
                    <span class="default bold sp-newline">Bグループ4名 各部4,000円 定員25名</span>
                </p>
                <p>
                    <span class="default bold">10分休憩</span>
                    <span class="default sp-newline">（※合間にBグループのチェキ1,000円で可能）</span>
                </p>
            </div>

            <div class="schedule__item txt-left">
                <p>
                    <span class="default bold">セレモニー : </span>
                    <span class="default">16:00〜16:30 </span>
                    <span class="default sp-newline">チェキサイン会</span>
                </p>
            </div>

        </div>
    </div>
</div>

<% include ../../components/footer/_footer %>
<% include ../../common/_foot %>