@import "../../common/project";
@import "../../components/header/header";
@import "../../components/header_sp/header_sp";
@import "../../components/footer/footer";

body {
    opacity: 0;
}
.mt30 {
    margin-top: 30px;
    @include tb { margin-top: 25px; }
    @include sp { margin-top: 20px; }
}
.mt40 {
    margin-top: 40px;
    @include tb { margin-top: 30px; }
    @include sp { margin-top: 20px; }
}
.default {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 2px;
    @include sp { font-size: 15px; }
}
.large {
    font-size: 30px;
    line-height: 36px;
    @include sp { font-size: 20px; }
}
.bold {
    font-weight: bold;
}
.sp-newline {
    @include sp {
        display: block;
        margin-bottom: 5px;
    }
}

#mayo.content .content__frame {  padding: 0; }
#mayo.content {
    width: 790px;
    box-sizing: border-box;
    margin: 0 auto;

    @include tb {
        width: 100%;
        padding: 0 10px;
    }
    @include sp {
        width: 100%;
        padding: 0 10px;
    }

    .mayo_subtitle {
        margin-left: 20px;
        @include sp {
            display: block;
        }
    }

    .talent {
        .talent__item {
            float: left;
            width: 25%;
            margin-bottom: 34px;

            img {
                width: 100%;
            }
            p {
                margin-top: 10px;
            }
            a {
                text-decoration: underline;
            }
            @include sp {
                width: 50%;
            }
        }
        .line3 {
            margin: 0 auto;
        }
    }
    .talent-3 {
        width: 592.5px;
        margin: 0 auto;
        .talent__item {
            width: 33.3333%;

        }
        @include sp {
            width: 100%;
            .talent__item {
                width: 50%;
            }
        }
    }

    .schedule {
        width: 720px;
        margin-left: auto;
        margin-right: auto;
        @include sp {
            width: 100%;
        }
    }
    .schedule__item {
        border-top: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
        padding: 34px 0;
    }
    .schedule__item + .schedule__item {
        border-top: none;
    }
}