@import "../../common/project";
@import "../../components/header/header";
@import "../../components/header_sp/header_sp";
@import "../../components/footer/footer";
@import "../../components/gototop/gototop";

#terms.content {
  .content__frame {
    padding: 80px 0 50px;
  }
  .content__terms {
    text-align: left;
    max-width: 970px;
    margin: 0 auto;
    border-bottom: 1px solid #e5e5e5;
  }
  .content__terms__item {
    padding: 40px 0;
    border-top: 1px solid #e5e5e5;

    @include sp {
      padding: 40px 30px;
    }

    ul {
      margin: 20px 20px 0;
      font-size: 14px;
      line-height: 20px;
    }
    ul > li {
      list-style: outside;
      margin-top: 20px;
    }
  }
}

