<%
var conf = {
  title : ' | TERMS OF USE',
  js: ['terms'],
  css: ['terms'],
  anchorLink: '/'
};
%>

<% include ../../common/_head %>
<% include ../../components/header/_header %>
<% include ../../components/header_sp/_header_sp %>

<div id="terms" class="txt-center content">
  <div class="content__frame">
    <h1 class="content__block">
      <img src="../../assets/images/terms/terms_txt.png" alt="TERM OF USE">
    </h1>
    <h2 class="content__block">
      ご利用規約
    </h2>
  </div>

  <div class="content__terms">
    <div class="content__terms__item">
      <p>ご利用時間は入室から退室まで（搬入から搬出まで）を含みます。</p>
      <ul>
        <li>
          通常スタジオ使用可能時間は、9:00?20:00 になります。<br>
          時間外のご利用については別途追加料金がかかります。<br>
          詳しくはPRICEページでご確認ください。
        </li>
        <li>
          スタジオアシスタントはおりません。撮影、搬入搬出の補助は行えません。ご了承ください。
        </li>
        <li>
          搬入、搬出は原則としてご利用当日にお願いいたします。
        </li>
        <li>
          ご予約時間前の搬入及び入室は、前のお客様の撮影やメンテナンスのためご入室いただけない場合がございます。ご注意ください。
        </li>
        <li>
          スタジオにはエレベーターはございません。ご了承ください。
        </li>
        <li>
          宅配便での荷物の送付は、事前にお電話でスケジュールをご確認ください。事前連絡がない場合は、受け取れない場合がございます。
        </li>
        <li>
          時間延長は 1時間単位で承ります。<br>
          他の予約が入っている場合、お断りする場合がございます。
        </li>
        <li>
          料理以外での火気・水気・煙草等の特殊撮影はお断りしております。
        </li>
        <li>
          公序良俗に反する撮影はお断りいたします。 ヌード、及び類する撮影は原則禁止となります。
        </li>
        <li>
          スタジオ内は全面禁煙となっております。
        </li>
        <li>
          当スタジオは住宅街にあるため、近隣の迷惑となる行為（大音量でのオーディオの使用、周辺での座り込み等）はご遠慮ください。<br>
          また、撮影機材や持ち込みのお荷物をスタジオ敷地外の歩道等に置かないようにご注意ください。
        </li>
        <li>
          スタジオ内の家具、小物等はご自由にご利用できます。撮影後は現状復帰をお願いします。
        </li>
        <li>
          壁、床、天井などに釘やビスを使用したり壁を破損させる強力なテープの使用はご遠慮下さい。
        </li>
        <li>
          家具など移動する場合は、家具・床の破損に十分にご注意ください。
        </li>
        <li>
          スタジオの設備、家具等を破損した場合は補修費を請求させていただきます。
        </li>
        <li>
          スタジオ使用後に出た粗大ゴミ等はお持ち帰り下さい。
        </li>
        <li>
          お持ち込みいただいた、撮影機材・貴重品等の、紛失・破損・盗難等に関する責任は当スタジオでは負いかねますので、お客様自身での管理をお願いいたします。
        </li>
        <li>
          撮影後の忘れ物は、1ヶ月間保管後、ご連絡がない場合は廃棄させていただきます。なお、飲食物などは即時廃棄させていただきます。
        </li>
        <li>
          ご利用中の事故や怪我等は当スタジオ側では責任を負いません。
        </li>
        <li>
          ご予約は、お電話もしくは書面にて承ります。ご予約決定後のキャンセルはキャンセル料金が発生します。<br>
          詳しくはPRICEページをご確認ください。
        </li>
        <li>
          お申し込み後の利用開始時間の変更は前営業日の19時までに必ずお電話でご連絡をお願いします。<br>
          他の予約が入っている場合、ご希望にそえない場合がございます。<br>
          ご連絡がない場合はご予約の時間から利用料金が発生いたします。
        </li>
        <li>
          電気容量100V 150A。大きい照明をご利用の場合は、事前にご確認ください。
        </li>
        <li>
          発電機を使用する場合は事前にご確認ください。なお、電源車は駐車できません。
        </li>
        <li>
          お申し込み時の撮影内容と異なる場合、近隣に迷惑をかける行為を発見した場合、ご利用規約に違反していると判断した場合は撮影中でもご利用を中止させていただく場合がございます。その場合もお申し込み時の通常料金が発生いたします。
        </li>
        <li>
          ご予約を承った場合は当スタジオ利用規約に全て同意いただいたものとしてとさせていただきます。
        </li>
      </ul>
    </div>

    <div class="content__terms__item">
      <h3>駐車について</h3>
      <ul>
        <li>
          駐車スペースは乗用車1台分をご用意しております。それ以上駐車する場合は、一般の有料駐車場をご利用下さい。<br>
          尚、路上駐車は禁止ですのでご理解ご協力をお願いいたします。
        </li>
        <li>
          駐車場は乗用車サイズのためロケバスは駐車できません。
        </li>
        <li>
          お車の移動は、お客様各自でお願い致します。
        </li>
        <li>
          駐車場内での車の損害、事故などの損害に関しては当スタジオでは一切の責任を負えませんので予めご了承ください。
        </li>
      </ul>

    </div>
  </div>

</div>

<% include ../../components/gototop/_gototop %>
<% include ../../components/footer/_footer %>
<% include ../../common/_foot %>