<header class="header-sp">
  <div>
    <a href="/">
      <img class="header-sp__logo" src="../../assets/images/gnavi_sp/gnavi_logo.gif" width="102">
    </a>

    <img class="header-sp__open" src="../../assets/images/gnavi_sp/menu_open.gif" width="24">
    <img class="header-sp__close" src="../../assets/images/gnavi_sp/menu_close.gif" width="24">
  </div>

  <div class="header-sp__menu">
    <ul>
      <li class="header-sp__menu__item">
        <a class="header-sp__menu__target" href="<%= conf.anchorLink%>#studio-photo">
          <img src="../../assets/images/gnavi_sp/gnavi_studiophoto.gif" height="12px">
        </a>
      </li>
      <li class="header-sp__menu__item">
        <a class="header-sp__menu__target" href="<%= conf.anchorLink%>#price">
          <img src="../../assets/images/gnavi_sp/gnavi_price.gif" height="12px">
        </a>
      </li>
      <li class="header-sp__menu__item">
        <a class="header-sp__menu__target" href="<%= conf.anchorLink%>#map">
          <img src="../../assets/images/gnavi_sp/gnavi_map.gif" height="12px">
        </a>
      </li>
      <li class="header-sp__menu__item header-sp-gray">
        <a class="header-sp__menu__target" href="/reserve">
          <img src="../../assets/images/gnavi_sp/gnavi_reserve.gif" height="12px">
        </a>
      </li>
      <li class="header-sp__menu__item header-sp-gray">
        <a class="header-sp__menu__target" href="/terms">
          <img src="../../assets/images/gnavi_sp/gnavi_terms.gif" height="12px">
        </a>
      </li>

      <li>
        <ul>
          <li class="header-sp__menu__sns">
            <a class="header-sp__menu__target" href="https://instagram.com/half_star0824/" target="_blank">
              <img src="../../assets/images/gnavi_sp/gnavi_instagram.gif" height="26">
            </a>
          </li>
          <li class="header-sp__menu__sns">
            <a class="header-sp__menu__target" href="https://www.facebook.com/pages/HalfStar/874637555906872?sk=timeline" target="_blank">
              <img src="../../assets/images/gnavi_sp/gnavi_facebook.gif" height="26">
            </a>
          </li>
          <li class="header-sp__menu__sns">
            <a class="header-sp__menu__target" href="https://twitter.com/halfstar_tokyo" target="_blank">
              <img src="../../assets/images/gnavi_sp/gnavi_twitter.gif" height="26">
            </a>
          </li>
        </ul>
      </li>
    </ul>

  </div>

</header>