@import "../../common/mixin";

$header-sp--height: 60px;

.header-sp {
  @include pc {
    display: none;
  }

  z-index: 8888;
  height: $header-sp--height;
  position: relative;

  .header-sp__icon {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
  }
  .header-sp__logo {
    @extend .header-sp__icon;
    left: 15px;
  }
  .header-sp__open {
    @extend .header-sp__icon;
    right: 15px;
  }
  .header-sp__close {
    @extend .header-sp__icon;
    display: none;
    right: 15px;
  }

  .header-sp__menu {
    display: none;
    overflow: hidden;
    position: absolute;
    top: $header-sp--height;
    width: 100%;
    text-align: center;
    background-color: #fff;
    border-top: 1px solid #EEE;
    box-shadow: 0 2px 2px #bbb;
  }
  .header-sp__menu__item {
    padding: 15px 0;
    border-bottom: 1px solid #EEE;
  }
  .header-sp__menu__target {
    display: block;
    margin: -15px 0;
    padding: 15px 0;
    text-decoration: none;
  }

  .header-sp__menu__sns {
    float: left;
    width: 33%;
    padding: 15px 0;
  }
  .header-sp__menu__sns + .header-sp__menu__sns {
    border-left: 1px solid #EEE;
  }
}

.header-sp-gray {
  background-color: #F7F7F7;
}